.card {
    width: 175px;
    font-size: 14px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
    margin: 15px;
}

.katie{
    height: 200px;
    width: 200px;
    border-radius: 9px;
}

.stars-and-rating{
    display: flex;
    align-items: center;
}

.red-star{
    height: 14px;
    margin-right: 5px;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

.activity-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
    border: solid #ccc;
}